{% extends "layouts/base.html" %}

{% block title %} Maps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
 
{% endblock stylesheets %}

{% block content %}
	<main class="content">
<div class="card">
  			<h5 class="card-header">
   		 		Latest location{{user}}
  			</h5>
  			<div class="card-body">
    			<div id='map' style='width: 100%; height: 400px;'></div>
  			</div>
		</div>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<meta charset="utf-8">
<title>Add multiple geometries from one GeoJSON source</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZGV2aXN2aWppdGgiLCJhIjoiY2tsdjVzbG9jMDZlNzJ2bWp4azJicHJ0MCJ9.Lv3UfRqAgwC3trCEqQ-78Q';
  //var latitude = 13.165909178110606 ;
  //var longitude = 74.8743580994954 ;
  
  var latitude = {{locatn[0][4]}} ;
  var longitude = {{locatn[0][3]}} ;
  
  
  var map = new mapboxgl.Map({
    container: 'map', // Container ID
    style: 'mapbox://styles/mapbox/streets-v11', // Map style to use
    center: [longitude, latitude], // Starting position [lng, lat]
    zoom: 10, // Starting zoom level
  });


map.on('load', function () {
map.addSource('national-park', {
'type': 'geojson',
'data': {
'type': 'FeatureCollection',
'features': [
	
{% for row in data%}
{
'type': 'Feature',
'geometry': {
'type': 'Point',
'coordinates': [   {{row[3]}}, {{row[4]}}]
}
},
{% endfor %}
]
}
});

map.addLayer({
'id': 'park-volcanoes',
'type': 'circle',
'source': 'national-park',
'paint': {
'circle-radius': 6,
'circle-color': '#B42222'
},
'filter': ['==', '$type', 'Point']
});

map.addSource('route', {
'type': 'geojson',
'data': {
'type': 'Feature',
'properties': {},
'geometry': {
'type': 'LineString',
'coordinates': [
{% for row in data%}
[{{row[3]}}, {{row[4]}}],
{% endfor %}
]
}
}
});

map.addLayer({
'id': 'route',
'type': 'line',
'source': 'route',
'layout': {
'line-join': 'round',
'line-cap': 'round'
},
'paint': {
'line-color': '#888',
'line-width': 8
}
});

});
  
</script>

{% endblock javascripts %}
